/* Buttons */
/* */
/* For each button type, define text, background, and border color. */
:root {
  --btn-font-size: 0.9rem;
  --btn-line-height: 1rem;
  --btn-letter-spacing: unset;
  --btn-text-transform: unset;
  --btn-padding-y: 0.7rem;
  --btn-padding-x: 1.15rem;
  --btn-border-radius: 5px;
  --btn-transition: all .2s ease-in-out;
  --btn-img-size: 18px;
}

@media (max-width: 700px) {
  :root {
    --btn-font-size: 0.85rem;
    --btn-padding-y: 0.5rem;
    --btn-padding-x: 0.9rem;
  }
}

.btn {
  box-sizing: unset;
  position: relative;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: var(--btn-font-size);
  letter-spacing: var(--btn-letter-spacing);
  text-transform: var(--btn-text-transform);
  padding: var(--btn-padding-y) var(--btn-padding-x);
}

.btn:hover {
  cursor: pointer;
}

.btn-dark {
  color: rgb(var(--light-rgb));
  background-color: rgb(var(--color-pre-foreground));
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(var(--color-pre-foreground));
  border-radius: var(--btn-border-radius);
}

.btn-dark:hover,
.btn-white:focus,
.btn-white:focus-within,
.btn-white:active {
  color: rgb(var(--black-rgb));
  background-color: rgb(var(--white-rgb));
  border-color: rgb(var(--white-rgb));
  transition: var(--btn-transition);
}

.btn-dark:hover img.scheme-dark {
  filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(347deg) brightness(105%) contrast(111%);
}

.btn-dark:focus-visible {
  outline-color: rgba(0, 0, 0, 0.25);
  outline-style: solid;
  outline-width: 4px;
}

.btn-img-size {
  width: var(--btn-img-size);
  height: var(--btn-img-size);
}

/* Buttons */
/* Mobile */
/* */
@media (max-width: 700px) {
}