@import url("globals.css");
@import url("buttons.css");

/* Layout */

.container {
  margin: 80px 0 0;
  padding:2.15rem;
}

/* Typography */

.h1 {
  font-family: var(--font-abcdiatype-semi-mono-light);
  font-size: 1.65rem;
  font-weight: 500;
  letter-spacing: 0.0125rem;
}

.p-mono {
  font-size: 0.8rem;
  font-family: var(--font-abcdiatype-mono);
  color: rgb(var(--light-rgb));
}

.tag-mono {
  padding: 0 4px;
  font-family: var(--font-abcdiatype-mono);
  color: rgb(var(--black-rgb));
  background-color: rgb(var(--light-rgb));
  border-radius: 1px;
}

.p-code {
  font-size: 0.8rem;
  font-family: var(--font-abcdiatype-mono);
  font-weight: 500;
  line-height: 165%;
}

/* Nav */

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 2.15rem;
  font-size: 1rem;
  position: absolute;
  z-index: 100;
}

.push {
  margin-left: auto;
  margin-right: 1rem;
}

/* Links */

.linkLight,
.linkDark {
  text-decoration: underline;
  text-underline-offset: 3px;
  padding: 0 2px;
  transition: all .2s ease-in-out;
}

.linkNav {
  color: rgb(var(--light-rgb));
  font-family: var(--font-abcdiatype-semi-mono);
  padding: 0 4px;
  margin: 0 4px;
  transition: all .2s ease-in-out;
}

.linkMono {
  padding: 0 4px;
  font-family: var(--font-abcdiatype-mono);
  color: rgb(var(--black-rgb));
  background-color: rgb(var(--light-rgb));
  border-radius: 1.5px;
}

.linkLight,
.linkLight:focus,
.linkLight:active {
  color: rgba(51, 57, 64, 1);
  padding: 0 2px;
}

.linkDark,
.linkDark:focus,
.linkDark:active {
  color: rgb(var(--light-rgb));
  padding: 0 2px;
}

.linkLight:hover,
.linkDark:hover,
.linkMono:hover {
  color: rgb(var(--black-rgb));
  background-color: rgb(var(--white-rgb));
  border-radius: 1px;
  text-decoration: none;
}

.linkNav:hover {
  color: rgb(var(--white-rgb));
  text-decoration: underline;
  text-underline-offset: 3px;
}

.widget {
  display: inline-block;
  overflow: hidden;
}

/* Footer */

footer {
  font-family: var(--font-abcdiatype-semi-mono);
  font-size: 0.8rem;
  color: rgb(var(--light-rgb));
}

/* Styles */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.pre-section {
  display: flex;
  padding: 3.125rem 2.5rem;
  margin: 0 0 2rem;
  background-color: rgb(var(--dark-dimmed-rgb));
  border: 1.5px solid rgb(var(--dark-dimmed-rgb));
  border-radius: var(--border-radius);
}

.pre-code-nums {
  color: rgba(51, 57, 64, 1);
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 0 0;
  line-height: 165%;
  border-right: 1.5px solid rgb(var(--dark-highlight-rgb));
}

.pre-code {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  overflow-x: scroll;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

/* Color Scheme — Light */

@media (prefers-color-scheme: light) {
  .scheme-light {
    color: #000000;
  }
}

/* Color Scheme — Dark */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .scheme-dark {
    filter: invert(47%) sepia(4%) saturate(1063%) hue-rotate(176deg) brightness(97%) contrast(89%);
  }
}

/* Mobile */

@media (max-width: 700px) {
  .container {
    margin: 70px 0 0;
    padding:2.15rem 1.5rem;
  }

  .h1 {
    font-size: 1.5rem;
  }

  .p-code {
    font-size: 0.75rem;
  }

  .nav {
    font-size: 0.95rem;
    padding: 0 1.5rem;
    height: 70px;
  }

  .pre-section {
    padding: 2.25rem 1.5rem;
  }
  

  .pre-code-nums {
    padding: 0 1rem 0 0;
  }

  .pre-code {
    padding: 0 1.5rem;
  }
}